# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build files
*.out
*.test

# Go workspace file
go.work
go.work.sum

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Vendor (if you don't commit it)
vendor/

# Uploaded files
/uploads/
/uploads/*
